{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}


 <div class="container">

    <div class="row">
        <div class="span12">
            <h3 id="labels"><u>Currently Speaking</u></h3>
            <span class="label label-info">Mike</span>
        </div>
    </div>
    <br/><br/>

     <div class="row">
        <div class="span12">
            <h3 id="labels"><u>Last Action</u></h3>
            <span class="label label-info">Mike</span>
            pressed the digit
            <span class="label label-default">2</span>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="span12">
            <h3 id="labels"><u>Members in the Conference</u></h3>
            <br/>
            <p><span class="label label-info">Mike</span>
                <a class="btn btn-danger btn-small" href="#">Mute</a>
                <a class="btn btn-success btn-small" href="#">UnMute</a>
                <a class="btn btn-danger btn-small" href="#">EarMuff</a>
                <a class="btn btn-success btn-small" href="#">Remove EarMuff</a>
            </p>
            <br/>
            <p><span class="label label-info">Venky</span>
                <a class="btn btn-danger btn-small" href="#">Mute</a>
                <a class="btn btn-success btn-small" href="#">UnMute</a>
                <a class="btn btn-danger btn-small" href="#">EarMuff</a>
                <a class="btn btn-success btn-small" href="#">Remove EarMuff</a>
            </p>
            <br/>
        </div>
    </div>


</div>


{% endblock %}
